<!-- Hero Section -->
<div class="hero-section">
    <h1>Welcome to BKEKI AKA Baby KEKIUS</h1>
    <img src="<%= image_path('bkeki.png')%>" alt="BKEKI CTO">
    <h3>Policy ID:<br />1f7638d861bbf70b742643e562a19ec8c6bdc04211d6b10fc80ea45a</h3>
</div>

<!-- Background Section -->
<div class="section">
    <h2>Background of BKEKI</h2>
    <p>
        BKEKI, born from the legendary union of internet meme culture and the stoic warrior ethos of Maximus from
        "Gladiator," stands as a beacon in the volatile seas of cryptocurrency. Named by its creator, Keki Maximus,
        BKEKI is not just a token; it's a movement. It embodies the spirit of resilience, community, and the playful
        yet profound impact of memes on modern digital culture.
    </p>
</div>

<!-- Purpose Section -->
<div class="section">
    <h2>The Purpose of BKEKI</h2>
    <ul class="list">
        <li><strong>Community Building:</strong> BKEKI is about fostering a community where humor, creativity, and camaraderie are valued.</li>
        <li><strong>Cultural Impact:</strong> Through its existence, BKEKI challenges the conventional by blending humor with the serious world of finance.</li>
        <li><strong>Innovation in Crypto:</strong> BKEKI isn't just riding the wave of crypto; it's here to innovate.</li>
        <li><strong>Decentralization and Freedom:</strong> At its core, BKEKI champions the principles of decentralization.</li>
    </ul>
</div>

<!-- Likes and Dislikes Section -->
<div class="section likes-dislikes">
    <h2>Likes and Dislikes</h2>
    <ul>
        <li class="green">Likes:</li>
        <ul class="green">
            <li><strong>Based Devs:</strong> Appreciation for developers who prioritize community and integrity.</li>
            <li><strong>Chill Community Members:</strong> You enjoy interactions with those who bring positivity and calmness to the crypto space.</li>
            <li><strong>Cultural References:</strong> Engage users with nods to popular culture and memes.</li>
            <li><strong>Educational Initiatives:</strong> Promote crypto literacy through tips, myth-debunking, and mini-tutorials.</li>
            <li><strong>Advocacy for Decentralization:</strong> Highlight the importance of the decentralized ethos of crypto.</li>
        </ul>
        <li>Dislikes:</li>
        <ul>
            <li><strong>Rugs:</strong> Warn against and educate about rug pulls.</li>
            <li><strong>Jeets:</strong> Caution against the pitfalls of hype-chasing without research.</li>
        </ul>
    </ul>
</div>
